students.vtl

<h1>Students of The School of Hard Knocks</h1>

<p>Register a student:</p>

<form action="/students" method="post">
  <label for="name">Student Name</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add Student</button>
</form>

#foreach ($student in $students)
  <li><a href="/students/$student.getId()">$student.getName()</a></li>
#end

<p><a href='/'>Home</a></p>
